page-users {
  .users-content {

  	.users-box {
      padding: 20px 20px 0px 20px;
      align-items: center;
      text-align: center;
  	}
  	ion-searchbar, ion-card {
  	  border-radius: 10px !important;
  	}
  
  } 
}